<div class="loading-wrapper" *ngIf="creating">
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="error" *ngIf="!creating && error">
  <p>
    Something went wrong while creating the company!
  </p>

  <button mat-button (click)="retry()">Try again!</button>

  <button mat-button (click)="error = false; detectChanges()">Edit further!</button>

  <a class="cancel-link" mat-button [routerLink]="['/companies']">
  <mat-icon>cancel</mat-icon>
  I give up!
</a>
</div>

<div class="created-summary" *ngIf="!creating && created && !error">
  <p>
    The company has been created!
  </p>

  <a mat-button [routerLink]="['/company', createdCompany.id]">Show it!</a>

  <a mat-button [routerLink]="['/companies/new']">Create another!</a>
</div>

<div class="company-wrapper" [class.canCreate]="canCreate" [class.creating]="creating" [class.error]="error" [class.created]="created" *ngIf="!creating && !error && !created">
  <a class="cancel-link" mat-button [routerLink]="['/companies']">
    <mat-icon>cancel</mat-icon>
    Cancel
  </a>
  <h1>Create company</h1>

  <div class="edit-area">
    <div class="fields">
      <div class="field">
        <mat-form-field>
          <input matInput placeholder="Name" #name [(ngModel)]="company.name" [readonly]="creating" required="required"/>

          <mat-error *ngIf="!company.name">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field>
          <input matInput placeholder="Address" #address [(ngModel)]="company.address" [readonly]="creating" required="required"/>

          <mat-error *ngIf="!company.address">
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field>
          <input matInput placeholder="City" #city [(ngModel)]="company.city" [readonly]="creating" required="required"/>

          <mat-error *ngIf="!company.city">
            City is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field>
          <input matInput placeholder="Country" #country [(ngModel)]="company.country" [readonly]="creating" required="required"/>

          <mat-error *ngIf="!company.country">
            Country is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field>
          <input matInput placeholder="Email (optional)" type="email" [(ngModel)]="company.email" [readonly]="creating"/>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field>
          <input matInput placeholder="Phone number (optional)" [(ngModel)]="company.phone" [readonly]="creating"/>
        </mat-form-field>
      </div>
    </div>
  </div>

  <button class="create-button" mat-button [disabled]="!canCreate" (click)="createCompany()">
    <mat-icon>done</mat-icon> Create
  </button>
</div>
